{% extends "layout.html" %}
{% block content %}
<h1>All Stores</h1>

<table class="table">
    <tr>
        <th scope="col">Store Name</th>
        <th scope="col">Number of Warehouses</th>
        <th scope="col">Store Page</th>
        <th scope="col">Delete?</th>
    </tr>
    {% for store in stores %}
    <tr>
        <td scope="col">{{store.name}}</td>
        <td scope="col">{{store.warehouses|length}}</td>
        <td scope="col"><a href="{{ url_for('view_individual_store', id=store.id) }}">Store Page</a></td>
        <td scope="col">
            <form action="{{ url_for('delete_store', id=store.id)}}" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
</br>
<h1>Add Store</h1>
<form action="{{ url_for('receive_store') }}" method="POST">
    <div class="form-group">
        <label for="add-store">Store's name</label>
        <input type="text" class="form-control" id="add-store" aria-describedby="emailHelp"
            placeholder="Enter store's name" name=store_name>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}