{% extends "layout.html" %}
{% block content %}
<h1>Warehouses</h1>
<table class="table">
    <tr>
        <th scope="col">Warehouse Location</th>
        <th scope="col">Name of Store</th>
        <th scope="col">Delete?</th>
    </tr>
    {% for warehouse in warehouses %}
    <tr>
        <td scope="col"><a href="{{ url_for('view_individual_warehouse', id=warehouse.id)}}">{{warehouse.location}}</a>
        </td>
        <td scope="col"><a
                href="{{ url_for('view_individual_store', id=warehouse.store_id.id) }}">{{warehouse.store_id.name}}</a>
        </td>
        <td scope="col">
            <form action="{{ url_for('delete_warehouse', id=warehouse.id)}}" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<h1>Add Warehouse</h1>
<form action="{{ url_for('receive_warehouse') }}" method="POST">
    <div class="form-group">
        <label for="add-warehouse">Warehouse's location</label>
        <input type="text" class="form-control" id="add-warehouse" aria-describedby="emailHelp"
            placeholder="Enter warehouse's location" name=warehouse_location>
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect1">Select store</label>
        <select class="form-control" id="exampleFormControlSelect1" name=store_id>
            {% for store in stores %}
            <option value={{store.id}}>{{store.name}}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>

{% endblock %}